@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Wynik: @Model.X @Html.Raw(Model.Op) @Model.Y = </p>
<h2><strong>@Model.Calculate()</strong></h2>