@using lab3_App.Models;
@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj komputer</h1>
<form asp-controller="Computer" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class = "form-control" asp-for="Name"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CPU"></label>
        <input class="form-control" asp-for="CPU" />
        <span class="text-danger" asp-validation-for="CPU"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RAM"></label>
        <input class="form-control" asp-for="RAM" />
        <span class="text-danger" asp-validation-for="RAM"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GPU"></label>
        <input class="form-control" asp-for="GPU" />
    </div>
    <div class="mb-3">
        <label asp-for="ProductionDate"></label>
        <input class="form-control" asp-for="ProductionDate" />
    </div>
    <div class="mb-3">
        <label asp-for="ManufacturerId"></label>
        <input type="text" id="mfilter"/>
        <select class="form-control" id="ManufacturerId"></select>
        <a asp-controller="Manufacturer" asp-action="Create">Dodaj nowego producenta</a>
    </div>
    <div class="mb-3">
        <label asp-for="OperatingSystemId"></label>
        <input type="text" id="ofilter"/>
        <select class="form-control" id="OperatingSystemId"></select>
        <a asp-controller="OperatingSystem" asp-action="Create">Dodaj nowego producenta</a>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utworz</button>
    </div>
</form>

@section Scripts
{
    <script>
        const mfilter = document.getElementById('mfilter')
        const mselect = document.getElementById('ManufacturerId')
        
        mfilter.onchange = function () {
            mselect.innerHTML = ""
            fetch(`/api/manufacturers/?q=${mfilter.value}`)
                .then(res => res.json())
                .then(json => {
                    for (const m of json) {
                        const opt = document.createElement('option')
                        opt.setAttribute('value', m.id)
                        opt.innerText = m.name
                        mselect.appendChild(opt)
                    }
            })
        }

        const ofilter = document.getElementById('ofilter')
        const oselect = document.getElementById('OperatingSystemId')
        
        ofilter.onchange = function () {
            oselect.innerHTML = ""
            fetch(`/api/operatingSystems/?q=${ofilter.value}`)
                .then(res => res.json())
                .then(json => {
                    for (const o of json) {
                        const opt = document.createElement('option')
                        opt.setAttribute('value', o.id)
                        opt.innerText = o.name
                        oselect.appendChild(opt)
                    }
            })
        }
    </script>
}
