@using lab3_App.Models;
@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodaj komputer</h1>
<form asp-controller="Computer" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class = "form-control" asp-for="Name"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CPU"></label>
        <input class="form-control" asp-for="CPU" />
        <span class="text-danger" asp-validation-for="CPU"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RAM"></label>
        <input class="form-control" asp-for="RAM" />
        <span class="text-danger" asp-validation-for="RAM"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GPU"></label>
        <input class="form-control" asp-for="GPU" />
    </div>
	    <div class="mb-3">
        <label asp-for="Manufacturer"></label>
        <input class="form-control" asp-for="Manufacturer" />
    </div>
	    <div class="mb-3">
        <label asp-for="ProductionDate"></label>
        <input class="form-control" asp-for="ProductionDate" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utworz</button>
    </div>
</form>